body {
    font-family: 'Courier New', Courier, monospace;
    /*background-color: rgba(100, 100, 100, 1);*/
}

.title {
    align-items: center;
    margin: auto;
    background-color: rgba(220, 220, 220, 1.0);
    width: 65%;
    height: 4rem;
    text-align: center;
    color: rgba(100, 100, 100, 1.0);
    border: 0.3rem solid rgba(255, 153, 51, 1.0);
}

.cardLayout {
    /*border: 2px solid rgba(220, 220, 220, 1.0);*/
    margin: auto;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
}

.itemCard {
    display: inline-block;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

/* On mouse-over, add a deeper shadow */
.itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.itemCard img {
    width: 100%;
    height: auto;
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
    text-align: center;
}

.footer {
    font-size: 0.75rem;
    background-color: rgba(220, 220, 220, 1.0);
    color: rgba(80, 80, 80, 1);
    width: 20%;
    height: auto;
    margin: auto;
}
.footer a {
    text-decoration: none;
    color: rgba(80, 80, 80, 1);
    transition-duration: 200ms;
}
.footer a:hover {
    text-decoration: none;
    color: rgba(255, 153, 51, 1.0);
}