/* PAGE DESIGN */
body {
    font-family: 'Courier New', Courier, monospace;
    /*background-color: rgba(100, 100, 100, 1);*/
}
.title {
    align-items: center;
    background-color: rgba(220, 220, 220, 1.0);
    height: 4rem;
    color: rgba(100, 100, 100, 1.0);
    border: 0.3rem solid rgba(255, 153, 51, 1.0);
}
.pageTop {
    width: 65%;
    margin: auto;
    text-align: center;
}
.subTitle {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}

/* CARDS */
.cardLayout {
    /*border: 2px solid rgba(220, 220, 220, 1.0);*/
    margin: auto;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
}
.itemCard {
    display: inline-block;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.itemCard:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.itemCard img {
    width: 100%;
    height: auto;
}
.cardContainer {
    /* Add some padding inside the card container */
    padding: 2px 16px;
    text-align: center;
}
.categoryCard {
    display: inline-block;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15rem;
    height: auto;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.categoryCard:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.categoryCard img {
    width: 100%;
    height: auto;
}

/* FOOTER */
.footer {
    font-size: 0.75rem;
    background-color: rgba(220, 220, 220, 1.0);
    color: rgba(80, 80, 80, 1);
    width: 20%;
    height: auto;
    margin: auto;
}
.footer a {
    text-decoration: none;
    color: rgba(80, 80, 80, 1);
    transition-duration: 200ms;
}
.footer a:hover {
    text-decoration: none;
    color: rgba(255, 153, 51, 1.0);
}

/* MENU BAR */
.menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menuBar li {
    float: left;
}
.menuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menuBar li a:hover {
    /* Change the link color to #111 (black) on hover */
    background-color: rgba(255, 153, 51, 1.0);
    color: #111;
}
.menuBar .searchContainer {
    float: right;
}
.menuBar .searchContainer input[type=text] {
    /* Style the search box inside the navigation bar */
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 0;
    font-size: 17px;
}
.menuBar .searchContainer button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 0.5rem;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.menuBar .searchContainer button:hover {
    background: #ccc;
}
.menuBar .searchContainer img {
    width: 1.15rem;
    height: 1rem;
}

/* DROPDOWNS */
.dropdown {
    /* The dropdown container */
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    /* Dropdown button */
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {
    /* Add a red background color to navbar links on hover */
    background-color: rgba(255, 153, 51, 1.0);
}
.dropdown-content {
    /* Dropdown content (hidden by default) */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    /* Links inside the dropdown */
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    /* Add a grey background color to dropdown links on hover */
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
}