body {
    font-family: 'Courier New', Courier, monospace;
}

.itemCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10rem;
}

/* On mouse-over, add a deeper shadow */
.itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.itemCard img {
    width: 100%;
    height: auto;
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
    text-align: center;
}